*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    }
body{
    background-color: black;
}

.fun{
    width: 500px;
    height: 500px;
    background-color: rgb(85, 193, 243);
    margin: 200px 500px;
    position: absolute;
    z-index: -1;
}
.white{
    width: 350px;
    height: 350px;
    margin: 73px 73px 73px 73px;
    
    background-color: white;
    position: relative;
    rotate: 45deg;
    z-index: 1;


}
.circl{
   width: 140px;
   height:140px;
   background-color:rgb(247, 106, 6);
   border-radius: 50%;

   position: relative;
   z-index: 2;
   /* margin:60px 10% 50px 10%; */
   margin-top:-316px;
   
   margin-left:40px ;
   
}
.dreieck{

        position: relative;
        width:340px;
        height:340px;
      
        border-top: 220px solid transparent; /* skyblue */
        border-right: 220px solid transparent; /* limegreen;  */
        border-bottom: 220px solid transparent; /* orange; */
        border-left: 220px solid  rgb(247, 106, 6); 
        margin-top:-290px;
   
        margin-left:50%;
        z-index: 1;
}
